{% for parent in parents %}
  <tr>
    <td>{{ parent.id }}</td>
    <td>{{ parent.student }}</td>
    <td>{{ parent.title }} {{ parent.firstname }} {{ parent.surname }}</td>
    <!-- <td>{{ parent.dateofbirth }}</td>
    <td>{{ parent.hometown }}</td>
    <td>{{ parent.date_admission }}</td> -->
    <td style="width: 150px">
      <button type="button" class="btn btn-warning btn-sm js-update-parent" title="View/Edit" 
      data-url="{% url 'parent_update' parent.id %}">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
      <button type="button" class="btn btn-danger btn-sm js-delete-parent" title="Delete" 
      data-url="{% url 'parent_delete' parent.id %}">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No parent</td>
  </tr>
{% endfor %}